html,body { height:100%; }

#react-app {
    background-color: azure;
    height: 100%;
}

#nav-logo {
    max-height: 50px;
}

.navbar {
    margin-bottom: 0;
}

.pad-l-5 {
    padding-left: 5px;
}

.pad-l-10 {
    padding-left: 10px;
}

.pad-r-5 {
    padding-right: 5px;
}

.pad-r-10 {
    padding-right: 10px;
}